# Object files
*.o
*.ko
*.obj
*.elf

# Dependencies
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Tests/test_amatrix
Tests/test_interpolation
Tests/test_particles
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Custom configuration files
options.inc

# Debug files
*.dSYM/
*.su

# Temporary fields
*~
